body{
    font-family: sans-serif;
    font-style: normal;
    margin: 0%;
    overflow-x: hidden;
    position: relative;

}
#main-section{
    position: relative;
}

header{
    background-color:#002e6d ;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 90px;
    padding-inline: 50px;
    
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    margin: 25px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: bold;
}
.navbar-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 90px;
    position: absolute;

}
.welcome{
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 200px;

}
.welcome h1{
    
    display: flex;
    text-align: center;
    font-size: 50px;
    color: white;
    padding-inline: 20px;
}
.welcome p{
    font-size: 20px;
    color: white;
    padding-inline: 50px;
}
.welcome-section {
    display: flex;
    background-image: url('../AlumniConnectHub/img/Desktop\ -\ 1.png');
    height: 700px;
    width: 1440px;
    background-size: cover;
}
.button{
    background: #002e6d;
    border-radius: 25px;
    border: none;
    color: white;
    font-weight: 500px;
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.5);
    position: relative;
    align-self: center;
    margin: 20px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}
