body{
    font-family: 'DM Sans', sans-serif;
    font-style: normal;
    margin: 0%;
    overflow-x: hidden;
    position: relative;

}
#main-section{
    position: relative;
}

header{
    background-color:#002e6d ;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    height: 72px;
    padding-inline: 50px;
    position: relative;
    
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    margin: 25px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
    font-weight: lighter;
}
.navbar-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    right: 200px;
    position: absolute;
    /* border:solid white; */

}
.welcome{
    /* border: solid greenyellow; */
}
.welcome1{
    height: 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    /* border: solid green; */
    margin-top: 50px;
    padding-left: 50px;
    display: flex;
    position: absolute;
    top: 150px;
}

.welcome2{
    height: 50px;
    font-weight: 700;
    font-size: 50px;
    line-height: 75px;
    /* border: solid green; */
    margin-top: 50px;
    padding-left: 50px;
    display: flex;
    position: absolute;
    top: 230px;
}
span{
    color:#d00d2d;
    padding-inline: 10px;
}
.welcome p{
    padding-left: 55px;
    width: 756px;
    height: 27px;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    position: absolute;
    top: 340px;
}
.search{
    position: absolute;
    top: 400px;
    padding-inline: 60px;
    width: fill(1312px);
    height: 60px;
    /* border: solid black; */

}
.welcome-section {
    display: flex;
    background-image:linear-gradient(rgb(0, 46, 109), rgb(255, 255, 255));
    height: 408px;
    width: 1440px;
    background-size: cover;
    /* border: solid white; */

}
