body{
    font-family: sans-serif;
    font-style: normal;
    margin: 0%;

}
#main-section{
    position: relative;
}

header{
    background-color:#002e6d ;
    display: flex;
    align-content: center;
    justify-content: space-between;
    align-items: center;
}
.navbar{
    
    display: flex;
    justify-content: space-between;
    margin: 25px;
    
}
.navbar a{
    color: white;
    text-decoration: none;
}
.navbar-main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

